/* Color Scheme
 Neon Blue (#1B02A3), 
 Brandeis Blue (#006AF9), 
 Capri (#00C0F9), 
 Phlox (#DC00FE), 
 Electric Purple (#BC00FE) and 
 Han Purple (#5319FB).

*/
body {
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.section {

}

.lHeader {
    color: #FFF5EE;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 50px;
    transition: transform linear;
    animation-name: test;
    animation-duration: 2s;
}

@keyframes test {
      0%   {opacity: 0; transform: translateY(100px);}
      50%  {opacity: .5; transform: translateY(50px);}
      /* 75%  {opacity: .75; transform: translateY(25px);} */
      100% {opacity: 1; }
}

.pHeader {
    color: #FFF5EE;
    padding: 100px 200px;
    transition: transform ease;
    animation-name: test;
    animation-duration: 2s;
}

#entrance {
    padding: 12px 20px;
    background: #00C0F9;
    color: #FFF5EE;
    border-color: #00C0F9;
    border-radius: 9px;
    transition: transform ease;
    animation-name: test;
    animation-duration: 2s;
}


/* Some mobile devices have a problem with background-attachment: fixed. So, you can use media queries to turn off the parallax effect for mobile devices: */
@media only screen and (max-device-width: 1366px) {
    
  }

  canvas {
    background: black;
    opacity: .9;
    position:absolute;
    z-index: -1;
  }

