body {
    /* height: 100vh; */
    color:#FFF5EE;
    font-family: "EB Garamond", "Times New Roman", Arial, Helvetica, sans-serif;
}

.parallax {
    height: 100%;
    background-image: url("../images/other-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Give the value "fixed" to the background-attachment property to create the parallax scrolling effect */
    background-attachment: fixed;
    z-index: -1;
  }

.main-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
  
.nav-bar {
    /* height: 100vh; */
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 300px;
}

nav {
    padding-right: 60px;
}

.nav-bar a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
}

a:hover {
    color: #FFF5EE;
}

footer {
    padding: 25px 40px;
    padding-left: 5%;
    background-color: #111;
    grid-row: 6;
    grid-column: 1/4;
}

footer p {
    color: #FFF5EE;
}






main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 5% 20% 20% 20% 20%;
    align-items: stretch;
    justify-items: center;
    margin-right: 50px;
    margin-left: 50px;
    
}

h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 34px;
}

.profilePic {
    height: 150px;
}

.se2 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 26px;
    border-bottom: 2px solid #FFF5EE;
    width: 90%;
}

.se3 {
    width: 80%;
}

article {
    font-size: 16px;
}

.main-container2 {
    height: 50px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

main img {
    /* display: grid; */
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    place-items: center;
    border-radius: 70%;
    margin-left: 25%;
}

.links {
    display: flex;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    width: 80%;
    align-content: center;
    margin-left: 10%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
}


div img {
    height: 20px;
    width: auto;
}

section {
    display: grid;
    justify-content: center;
    align-content: stretch;
    text-align: center;
    width: 50vh;
    height: fit-content;
    margin: 20px 40px;
}

section.A1 {
    /* border: 2px solid pink; */
    grid-column: 2 / 3;
    grid-row: 3 ;
    
}

.sl {
    display: flex;
    flex-direction: column;
}

p ul {
    display: flex;
}

 li {
    padding: 5px 10px;
}

ul {
    font-size: 15px;
    margin: 0;
}

section.A2 {
    /* border: 2px solid red; */
    grid-column: 3 / 4;
    grid-row: 3 / span6;
}

section.A3 {
    /* border: 2px solid yellow; */
    grid-column: 2 / 3;
    grid-row: 5 ;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

section.A5 {
    /* border: 1px solid purple; */
    grid-column: 3 / 4;
    grid-row: 6;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-bottom: 150px;
}

@media (max-width: 768px) {
    .nav-bar {
        padding-top: 150px;
    }

    .nav-bar a {
        font-size: 20px;
    }

    h1 {
        padding-top: 80px;
        margin-bottom: 20px;
        font-size: 26px;
        margin: 30px;
    }

    main {
        grid-template-columns: 20% 40% 40%;
    }

    .main-container2 {
        margin: 10px 30px 10px 0px;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        height: fit-content;
    }

    .links {
        display: flex;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        margin: 15px 5% 10px 0px;
    } 

    .se2 {
        font-size: 18px;
    }

    .A1, .A2, .A3, .A5 {
        margin: 25px 10px;
        width: fit-content;
    }

    .A1 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .A2 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .A3 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }

    section.A5 {
        grid-column: 3 / 4;
        grid-row: 5 / 7;
    }

    li, ul, article {
        font-size: 12px;
    }

    .profilePic {
        height: 100px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    div img, .profilePic {
        margin-top: 3px;
    }

    footer {
        padding: 30px 40px;
    }
}

@media (max-width: 576px) {


    .nav-bar {
        padding-top: 180px;
    }

    .nav-bar a {
        font-size: 20px;
    }

    .main-container2 {
        margin: 5px 10px 5px 0px;
    }

    .links {
        margin: 15px 5% 10px 10px;
        width: max-content;
    } 

    .se2 {
        font-size: 16px;
    }

    .A1, .A2, .A3, .A5 {
        margin: 5px 10px;
        width: fit-content;
        height: max-content;
    }

    .A1, .A2 {
        margin-top: 20px;
    }

    .A1, .A3 {
        margin-right: 20px;
    }

    li, ul, article {
        font-size: 11px;
    }

    .profilePic {
        height: 120px;
        margin: 0;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    div img, .profilePic {
        margin-right: 10px;
    }

    footer {
        padding: 10px 40px;
    }
}